body {
  margin: 0;
}

body.dark {
  background-color: #222;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1
}

canvas {
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.15);
}

